.hidden {
  display: none;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.inline {
  display: inline;
  margin-right: 15px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.spacing {
  margin-left: 2px;
  margin-right: 2px;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  background-color: #fff;
  opacity: .9;
}

.header-container {
  width: 600px;
}

.input-group-addon {
  background-color: #fff;
}

.content-header {
  margin-top: 80px;
  margin-bottom: 40px;
  height: 65px;
  font-family: Courier New, monospace;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  background-color: #111111;
}

.header-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.subtitle {
  font-family: Helvetica, Arial, sans-serif;
  text-align: right;
}

.landing-img {
  width: 100%;
}

.main {
  padding-left: 0;
  padding-right: 0;
  max-width: 1200px;
}

.media-object {
  height: 160px;
  width: 160px;
}

#write-review {
  background-color: #111111;
  color: #fff;
  margin-top: 10px;
}

.review-img {
  height: auto;
  width:  33%;
  text-align: center;
}

#add-location {
  height: 42px;
}

h3 {
  text-align: center;
}

h4 {
  font-size: 24px;
}

h4:hover {
  cursor: pointer;
}

span {
  margin-bottom: 10px;
}

button:hover, button[data-clicked='1'] {
  background-color: #111111 !important;
  color: #fff !important;
}

button:focus {
  background-color: #111111 !important;
  color: #fff !important;
}

button[data-clicked='1']:focus {
  background-color: #111111 !important;
  color: #fff !important;
}

.useful-badge::after {
  content: '+' attr(data-useful);
  margin-left: 10px;
  margin-right: -5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #111111;
}

.useful-badge[data-useful='0']::after {
  content: '';
  background-color: #fff;
}

.useful-badge[data-useful='0']:hover::after,
.useful-badge[data-useful='0']:focus::after {
  content: '';
  background-color: #111111 !important;
}

.funny-badge::after {
  content: '+' attr(data-funny);
  margin-left: 10px;
  margin-right: -5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #111111;
}

.funny-badge[data-funny='0']::after {
  content: '';
  background-color: #fff;
}

.funny-badge[data-funny='0']:hover::after,
.funny-badge[data-funny='0']:focus::after {
  content: '';
  background-color: #111111 !important;
}
.cool-badge::after {
  content: '+' attr(data-cool);
  margin-left: 10px;
  margin-right: -5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #111111;
}

.cool-badge[data-cool='0']::after {
  content: '';
  background-color: #fff;
}

.cool-badge[data-cool='0']:hover::after,
.cool-badge[data-cool='0']:focus::after {
  content: '';
  background-color: #111111 !important;
}
